<?xml version="1.0"?>
<!-- HyperFusion UR3e description: ceiling-mounted robot above tray workspace (Z=0 floor). -->
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="$(arg name)">
  <xacro:arg name="name" default="ur"/>

  <xacro:include filename="$(find ur_description)/urdf/ur_macro.xacro"/>
  <xacro:include filename="$(find ur_robot_driver)/urdf/ur.ros2_control.xacro" />
  <xacro:include filename="$(find ur_description)/urdf/inc/ur_transmissions.xacro" />
  <xacro:include filename="hyperfusion_tool_payload.xacro"/>

  <xacro:arg name="ur_type" default="urXe"/>
  <xacro:arg name="tf_prefix" default="" />
  <xacro:arg name="joint_limit_params" default="$(find ur_description)/config/$(arg ur_type)/joint_limits.yaml"/>
  <xacro:arg name="kinematics_params" default="$(find ur_description)/config/$(arg ur_type)/default_kinematics.yaml"/>
  <xacro:arg name="physical_params" default="$(find ur_description)/config/$(arg ur_type)/physical_parameters.yaml"/>
  <xacro:arg name="visual_params" default="$(find ur_description)/config/$(arg ur_type)/visual_parameters.yaml"/>
  <xacro:arg name="transmission_hw_interface" default=""/>
  <xacro:arg name="safety_limits" default="false"/>
  <xacro:arg name="safety_pos_margin" default="0.15"/>
  <xacro:arg name="safety_k_position" default="20"/>
  <xacro:arg name="headless_mode" default="false" />
  <xacro:arg name="robot_ip" default="0.0.0.0" />
  <xacro:arg name="script_filename" default=""/>
  <xacro:arg name="output_recipe_filename" default=""/>
  <xacro:arg name="input_recipe_filename" default=""/>
  <xacro:arg name="reverse_ip" default="0.0.0.0"/>
  <xacro:arg name="script_command_port" default="50004"/>
  <xacro:arg name="reverse_port" default="50001"/>
  <xacro:arg name="script_sender_port" default="50002"/>
  <xacro:arg name="trajectory_port" default="50003"/>
  <xacro:arg name="verify_robot_model" default="false" />
  <xacro:arg name="use_tool_communication" default="false" />
  <xacro:arg name="tool_voltage" default="0" />
  <xacro:arg name="tool_parity" default="0" />
  <xacro:arg name="tool_baud_rate" default="115200" />
  <xacro:arg name="tool_stop_bits" default="1" />
  <xacro:arg name="tool_rx_idle_chars" default="1.5" />
  <xacro:arg name="tool_tx_idle_chars" default="3.5" />
  <xacro:arg name="tool_device_name" default="/tmp/ttyUR" />
  <xacro:arg name="tool_tcp_port" default="54321" />
  <xacro:arg name="use_mock_hardware" default="false" />
  <xacro:arg name="mock_sensor_commands" default="false" />
  <xacro:arg name="simulation_controllers" default="" />
  <xacro:arg name="initial_positions_file" default="$(find ur_description)/config/initial_positions.yaml"/>

  <!-- HyperFusion ceiling mount. Tray/sample stage at Z=0; mount height from ceiling_mount_height_mm. -->
  <xacro:arg name="ceiling_mount" default="true"/>
  <xacro:arg name="ceiling_mount_height_m" default="0.65"/>
  <xacro:arg name="mount_roll_rad" default="3.14159265358979323846"/>
  <xacro:arg name="mount_pitch_rad" default="0"/>
  <xacro:arg name="mount_yaw_rad" default="0"/>
  <xacro:arg name="mount_x_m" default="0"/>
  <xacro:arg name="mount_y_m" default="0"/>
  <!-- Tool payload placeholder (camera / sensor envelope for MoveIt collision). -->
  <xacro:arg name="tool_payload_enabled" default="true"/>
  <xacro:arg name="tool_payload_shape" default="mesh"/>
  <xacro:arg name="tool_payload_radius_m" default="0.077"/>
  <xacro:arg name="tool_payload_box_x_m" default="0.08"/>
  <xacro:arg name="tool_payload_box_y_m" default="0.06"/>
  <xacro:arg name="tool_payload_box_z_m" default="0.06"/>
  <xacro:arg name="tool_payload_x_m" default="0"/>
  <xacro:arg name="tool_payload_y_m" default="0"/>
  <xacro:arg name="tool_payload_z_m" default="0"/>
  <xacro:arg name="tool_payload_collision_gap_m" default="0.0"/>
  <xacro:arg name="tool_payload_mesh_dir" default="meshes/"/>
  <xacro:arg name="tool_payload_mesh_file" default="ur_tool_payload.stl"/>
  <xacro:arg name="tool_payload_roll_rad" default="0"/>
  <xacro:arg name="tool_payload_pitch_rad" default="0"/>
  <xacro:arg name="tool_payload_yaw_rad" default="0"/>
  <!-- Optical TCP (BFS optical origin) in tool0 metres + URDF rpy. Tsai hand-eye. -->
  <xacro:arg name="tool_tcp_x_m" default="0.000715"/>
  <xacro:arg name="tool_tcp_y_m" default="-0.054197"/>
  <xacro:arg name="tool_tcp_z_m" default="0.073755"/>
  <xacro:arg name="tool_tcp_roll_rad" default="-0.03340168"/>
  <xacro:arg name="tool_tcp_pitch_rad" default="0.01300337"/>
  <xacro:arg name="tool_tcp_yaw_rad" default="0.00500528"/>
  <xacro:property name="hf_pi" value="3.14159265358979323846"/>

  <xacro:property name="initial_positions_file" default="$(arg initial_positions_file)"/>

  <link name="world" />

  <xacro:ur_robot
    name="$(arg name)"
    tf_prefix="$(arg tf_prefix)"
    parent="world"
    joint_limits_parameters_file="$(arg joint_limit_params)"
    kinematics_parameters_file="$(arg kinematics_params)"
    physical_parameters_file="$(arg physical_params)"
    visual_parameters_file="$(arg visual_params)"
    safety_limits="$(arg safety_limits)"
    safety_pos_margin="$(arg safety_pos_margin)"
    safety_k_position="$(arg safety_k_position)"
    >
    <xacro:if value="$(arg ceiling_mount)">
      <!-- Upside-down on ceiling plane; base_link hangs toward tray at Z=0. -->
      <origin xyz="$(arg mount_x_m) $(arg mount_y_m) $(arg ceiling_mount_height_m)"
              rpy="$(arg mount_roll_rad) $(arg mount_pitch_rad) $(arg mount_yaw_rad)" />
    </xacro:if>
    <xacro:unless value="$(arg ceiling_mount)">
      <origin xyz="$(arg mount_x_m) $(arg mount_y_m) 0"
              rpy="$(arg mount_roll_rad) $(arg mount_pitch_rad) $(arg mount_yaw_rad)" />
    </xacro:unless>
  </xacro:ur_robot>

  <xacro:ur_ros2_control
    name="$(arg name)"
    tf_prefix="$(arg tf_prefix)"
    kinematics_parameters_file="$(arg kinematics_params)"
    transmission_hw_interface="$(arg transmission_hw_interface)"
    use_mock_hardware="$(arg use_mock_hardware)"
    mock_sensor_commands="$(arg mock_sensor_commands)"
    headless_mode="$(arg headless_mode)"
    initial_positions="${xacro.load_yaml(initial_positions_file)}"
    use_tool_communication="$(arg use_tool_communication)"
    tool_voltage="$(arg tool_voltage)"
    tool_parity="$(arg tool_parity)"
    tool_baud_rate="$(arg tool_baud_rate)"
    tool_stop_bits="$(arg tool_stop_bits)"
    tool_rx_idle_chars="$(arg tool_rx_idle_chars)"
    tool_tx_idle_chars="$(arg tool_tx_idle_chars)"
    tool_device_name="$(arg tool_device_name)"
    tool_tcp_port="$(arg tool_tcp_port)"
    robot_ip="$(arg robot_ip)"
    script_filename="$(arg script_filename)"
    output_recipe_filename="$(arg output_recipe_filename)"
    input_recipe_filename="$(arg input_recipe_filename)"
    reverse_ip="$(arg reverse_ip)"
    script_command_port="$(arg script_command_port)"
    reverse_port="$(arg reverse_port)"
    script_sender_port="$(arg script_sender_port)"
    trajectory_port="$(arg trajectory_port)"
  />

  <xacro:if value="$(arg tool_payload_enabled)">
    <xacro:hyperfusion_tool_payload
      tf_prefix="$(arg tf_prefix)"
      shape="$(arg tool_payload_shape)"
      radius_m="$(arg tool_payload_radius_m)"
      mesh_dir="$(arg tool_payload_mesh_dir)"
      mesh_file="$(arg tool_payload_mesh_file)"
      collision_gap_m="$(arg tool_payload_collision_gap_m)"
      box_x_m="$(arg tool_payload_box_x_m)"
      box_y_m="$(arg tool_payload_box_y_m)"
      box_z_m="$(arg tool_payload_box_z_m)"
      origin_x_m="$(arg tool_payload_x_m)"
      origin_y_m="$(arg tool_payload_y_m)"
      origin_z_m="$(arg tool_payload_z_m)"
      origin_roll_rad="$(arg tool_payload_roll_rad)"
      origin_pitch_rad="$(arg tool_payload_pitch_rad)"
      origin_yaw_rad="$(arg tool_payload_yaw_rad)"
    />
  </xacro:if>

  <!-- Scan / MoveIt tip: BFS optical origin (calibrated xyz + rpy vs tool0). -->
  <link name="$(arg tf_prefix)hyperfusion_tcp">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <sphere radius="0.004"/>
      </geometry>
      <material name="hyperfusion_tcp_marker">
        <color rgba="1.0 0.25 0.1 0.95"/>
      </material>
    </visual>
  </link>
  <joint name="$(arg tf_prefix)tool0-hyperfusion_tcp" type="fixed">
    <parent link="$(arg tf_prefix)tool0"/>
    <child link="$(arg tf_prefix)hyperfusion_tcp"/>
    <origin xyz="$(arg tool_tcp_x_m) $(arg tool_tcp_y_m) $(arg tool_tcp_z_m)"
            rpy="$(arg tool_tcp_roll_rad) $(arg tool_tcp_pitch_rad) $(arg tool_tcp_yaw_rad)"/>
  </joint>

</robot>
